extends ../layout/index

block contenido

    h1 MarketPlace
        span OLX
    h2 tituloPagina

    if errores
        div
            each error in errores
                p= error.msg

    form(method="POST" action="olvide-password" noValidate)
        input(type="hidden" name="_csrf" value=csrfToken )
    
       

    
        label(for="email") Email
        input#email(type="email" name="email" )

    
       

    
       
        button(type="submit") Envisr Email de Recuperación