extends ../layout/index

block contenido

    h1 MarketPlace
        span OLX
    h2 tituloPagina

    if errores
        div
            each error in errores
                p= error.msg

    form(method="POST" action=`/auth/reset-password/${token}` noValidate)
        input(type="hidden" name="_csrf" value=csrfToken )
    
        
        label(for="password") Contraseña
        input#password(type="password" name="password")

    
        label(for="passwordConfirm") Confirmar contraseña
        input#passwordConfirm(type="password" name="repeat_password" )

    
       

        button(type="submit") Cambiar Contraseña