
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{tituloPagina} | Marketplace
        link(rel="stylesheet", href="/css/style.css")
        block styles
    body.min-h-screen.bg-gray-50 
        main(class="relative w-full")
            block contenido

        block scripts
